*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1a0327;
    font-family: 'poppins','sans-serif';
    height: 150vh;
}
.container{
    width: 100%;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://wallpapercave.com/wp/wp4792498.jpg);
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    height: 10vh;
    background: rgba(0,0,0,0.698);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #be00c5;
    display: flex;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo .fas{
    font-size: 50px;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;

}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 160px;

}
ul.navbar li {
    text-decoration: none;
    color: #969696;
    font-weight: bold;
}




#btn{
    width: 250px;
    height: 10vh;
    background: #c27ffd;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding: 40px;
}
#btn .fas{
    margin-right: 10px;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    color: #fec53a;
    margin-left: 10px;
}
.logo-section .fas{
    font-size: 6rem;
    color: #fec53a;
}
main{
    height: calc(100vh - 60px);
    font-size: 2rem;
    color: #fec53a;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main p{
    width: 80%;
    height: 80px;
    line-height: 80px;
    top: 32%;
    line-height: 110px;
    font-size: 90px;
    margin-left: -3%;
    color: #eadbc8;
    position: absolute;
    float: left;
}
main button {
    
    border-radius: 70px;
    margin-top: 30px;
    font-size: 30px;
    background-color: #eadbc8;
}
main button img{
    align-items: center;
    display: flex;
}
main button:hover{
    transform: translateY(5px);
    transition: 0.2s;
}
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    position: relative;
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background: #fec53a;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #fec53a;
    margin-right: 15px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: #fec53a;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #fec53a;
    font-weight: bold;
}